html {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #ED7B66;
}

.header-nav {
  padding-bottom: 1.3rem;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.header-nav-a {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
}

.link-card {
  color: darkgrey;
}


li {
  display: inline-block;
}

.header-nav-li {
  display: inline-block;
}

ul {
  margin: 0;
}

.img-flex {
  width: 100%;
}

.banner {
  position: relative;
  max-height: 350px;
  overflow: hidden;
}

.banner-content {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
  max-width: 50em;
}

.tour,
.pricing,
.sign-up {
  font-weight: 300;
  text-align: right;
}

.value-prop,
.product-statement {
  font-weight: 300;
}

.product-statement {
  max-width: 278;
}

.btn {
  background-color: #ED7B66;
  border-color: #ED7B66;
}

.cards {
  background-color: #f4f4f4;
}

h2 {
  font-weight: 300;
}

.our-goals {
  color: #95989A;
}


.footer {
  background-color: #ED7B66;
  color: #fff;
}

.underline {
  text-decoration: underline;
}

.copyright {
  margin: 0;
}


@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav-btn {
    text-align: right;
  }

  .header-nav {
    padding-bottom: 0;
  }

  .banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;

  }

  .banner-content {
    color: #fff;
    position: absolute;
    bottom: 1rem;
    text-align: right;
    max-width: 50em;



}
