html {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #ed7b66;
}

h1 {
  margin: 0;
}

.header-nav {
  padding-bottom: 1.3rem;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

a:hover {
  color: #e2e2e2;
}

.header-nav-a {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
}

.nav-cinemastitch {
  font-weight: 300;
  padding-left: 1em;
  font-size: .6rem;
}

.card-link {
  color: darkgrey;
}

li {
  display: inline-block;
}

.header-nav-li {
  display: inline-block;
}

ul {
  margin: 0;
}

.img-flex {
  width: 100%;
}

.banner {
  position: relative;
  max-height: 350px;
  overflow: hidden;
}

.banner-content {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
  max-width: 50em;
}

.tour,
.pricing,
.sign-up {
  font-weight: 300;
  text-align: right;
  font-size: 3.5rem;
}

.value-prop,
.product-statement {
  font-weight: 300;
}

.create {
  color: #fff;
  font-weight: 300;
}

.big-bullet {
  color: #ed7b66;
}

.btn {
  background-color: #ed7b66;
  border-color: #ed7b66;
}

.cards {
  background-color: #f4f4f4;
}

h2,
h3,
h4 {
  font-weight: 300;
}

.h3-product {
  color: #6063ad;
}

.h3-learn {
  color: #ed7b66;
}

.h3-pricing {
  color: #56baaf;
}

.try {
  color: #ed7b66;
}

.our-goals {
  color: #95989a;
}

.footer {
  background-color: #ed7b66;
  color: #fff;
}

.underline {
  text-decoration: underline;
}

.copyright {
  margin: 0;
}

.comp-text {
  font-size: 1.383rem;
}

.bullet-list {
  width: 240px;
}

.link-card {
  width: 200px;
}

tbody th {
  font-weight: 300;
}

tfoot {
  font-weight: normal;
}

table {
  min-width: 25em;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav-btn {
    text-align: right;
  }

  .header-nav {
    padding-bottom: 0;
  }

  .banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;

  }

  .banner-content {
    color: #fff;
    position: absolute;
    bottom: 1rem;
    text-align: right;
    max-width: 50em;
  }

  .product-statement {
    max-width: 556px;
  }

  .comp-text {
    font-size: 1.2962rem;
  }

  .goalz {
    max-width: 236px;
  }

  .bullet-list {
    width: 260px;
  }

  .link-card {
    width: 250px;
  }

}

@media only screen and (min-width: 60em) {

  .comp-text {
    font-size: 1.383rem;
  }

  .bullet-list {
    width: 300px;
  }

  .link-card {
    width: 300px;
  }

}

@media only screen and (min-width: 90em) {

  .bullet-list {
    width: 340px;
  }

}
